// Define Colors
$primColor: #303849;
$secColor: #f5a81c;
$fontColor: darken(#fff, 10);

/************************************/

// Main Media Query Sizes
$maxMobile: "(max-width: 575px)";
$maxSmall: "(max-width: 767px)";
$maxMedium: "(max-width: 991px)";
$minSmall: "(min-width: 576px)";
$minMedium: "(min-width: 768px)";
$minLarge: "(min-width: 992px)";